body {
  font-family: sans-serif;
}

.numOfReviews {
  font-size: 23px;
  font-weight: bold;
  color: rgb(53, 53, 53);
  margin-right: 15px;
}

/**********STAR COMPONENT**********/
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
}

.stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color:lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: seagreen;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-1:after { width: 10%; }
.stars-2:after { width: 20%; }
.stars-3:after { width: 30%; }
.stars-4:after { width: 40%; }
.stars-5:after { width: 50%; }
.stars-6:after { width: 60%; }
.stars-7:after { width: 70%; }
.stars-8:after { width: 80%; }
.stars-9:after { width: 90%; }
.stars-10:after { width: 100%;}


/**********RATING COMPONENT**********/
.container {
  position: relative;
  width: 100%;
}

.left-ratings {
  position: relative;
  float: left;
  font-size: 16px;
}
.right-ratings {
  position: relative;
  float: right;
  font-size: 16px;
}

.right-rating {
  position: relative;
  right: 100px;
}

.center-stars {
  position: relative;
  min-width: 100px;
  left: 100px;
}

.right-stars {
  position: relative;
  min-width: 100px;
}

/**********SEARCH COMPONENT**********/
/* @import url("http://download.seaicons.com/icons/icons8/ios7/512/Very-Basic-Search-icon.png"); */
.search { 
  position: relative;
  float: left;
 }
.search input { 
  width: 150px;
  text-indent: 30px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightgrey;
  padding: 8px;
  border-radius: 5px;
  /* background: url("http://download.seaicons.com/icons/icons8/ios7/512/Very-Basic-Search-icon.png") */
}
/* .search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
} */
/* .searchIcon {
  height: 15px;
} */

/**********ORDER COMPONENT**********/
.sort { 
  position: relative;
  float: right;
  width: 175px;
  height: 33px;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
 }
.sort option {
  width: 175px;
  height: 33px;
}

/**********REVIEWS COMPONENT**********/
.avatar {
  border-radius: 100px;
  display: inline-block;
  margin-right: 25px; 
}

.profileInfo {
  display: inline-block;
}

.username {
  font-weight: bold;
  font-size: 17px;
}

.date {
  font-size: 14px;
}

.flag {
  float:right;
  height: 15px;
}

.review {
  font-size: 15px;
}