body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.rev-numOfReviews {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
  margin-right: 15px;
}
hr {
  border: 0;
  border-top: 1px solid rgb(212, 212, 212);
  margin: 1em 0;
}
.rev-container {
  border: transparent;
  margin-left: 10%;
  width: 80%;
}

/**********STAR COMPONENT**********/
.rev-stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  letter-spacing: 6px;
}
.rev-stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color:lightgray;
  letter-spacing: 6px;
}
.rev-stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: rgb(41, 126, 113);
  overflow: hidden;
  letter-spacing: 6px;
}

.rev-stars-0:after { width: 0%; }
.rev-stars-1:after { width: 7%; }
.rev-stars-2:after { width: 20%; }
.rev-stars-3:after { width: 27%; }
.rev-stars-4:after { width: 40%; }
.rev-stars-5:after { width: 47%; }
.rev-stars-6:after { width: 60%; }
.rev-stars-7:after { width: 67%; }
.rev-stars-8:after { width: 80%; }
.rev-stars-9:after { width: 87%; }
.rev-stars-10:after { width: 100%;}


/**********RATING COMPONENT**********/
.rev-ratings-container {
  display: flex;
  position: relative;
  width: auto;
}
.rev-left-container {
  display: flex;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #484848;
  width: 100%;
}
.rev-left-text-container {
  display: flex;
  flex-direction: column;
}
.rev-left-star-container {
  display: flex;
  flex-direction: column;
}
.rev-left-rating {
  margin-bottom: 15px;
}
.rev-left-stars {
  left: 50px;
  margin-bottom: 10px;
}
.rev-right-container {
  display: flex;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #484848;
  width: 100%;
}
.rev-right-text-container {
  display: flex;
  flex-direction: column;
}
.rev-right-star-container {
  display: flex;
  flex-direction: column;
}
.rev-right-rating {
  margin-bottom: 15px;
}
.rev-right-stars {
  left: 50px;
  margin-bottom: 10px;
}

/**********SEARCH COMPONENT**********/
.rev-input-icon{
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em);
  color: grey;
}
.rev-search {
  padding-left: 17px;
  width: 150px;
  text-indent: 15px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightgrey;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}
.rev-search:focus {
  border: 1px solid rgb(41, 126, 113);
}
.rev-input-wrapper{
  position: relative;
  float: left;
}

/**********SORT COMPONENT**********/
.rev-sort { 
  position: relative;
  float: right;
  width: 175px;
  height: 33px;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  background-color: white;
 }
.rev-sort:focus {
  border: 1px solid rgb(41, 126, 113);
}
.rev-sort option {
  width: 175px;
  height: 33px;
}

/**********REVIEWS COMPONENT**********/
.rev-avatar {
  border-radius: 100px;
  display: inline-block;
  margin-right: 25px; 
}
.rev-profileInfo {
  display: inline-block;
}
.rev-username {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #484848 !important;
}
.rev-date {
  font-size: 14px;
  color: #484848 !important;
}
.rev-review {
  font-size: 15px;
  color: #484848 !important;
}
.rev-noReviews {
  font-size: 15px;
  margin-left: 50px;
}
.rev-someReviews {
  font-size: 15px;
  color: #484848 !important;
}
.rev-backToReviews {
  font-size: 15px;
  float: right;
  color: rgb(41, 126, 113);
  cursor: pointer;
}
.rev-readMore {
  font-size: 15px;
  color: rgb(41, 126, 113);
  cursor: pointer;
}

/**********PAGINATION COMPONENT**********/
.rev-pageNum {
  font-size: 15px;
  color: rgb(41, 126, 113) !important;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.rev-pageNum:hover {
  text-decoration: underline;
}
.rev-currentPage {
  color: white !important;
  border: 1px solid rgb(41, 126, 113);
  background-color: rgb(41, 126, 113);
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-radius: 15px;
}
.rev-navPage {
  font-size: 15px;
  color: rgb(41, 126, 113) !important;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(41, 126, 113);
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-radius: 15px;
  cursor: pointer;
}

/**********FLAG MODAL COMPONENT**********/
.rev-flag {
  float: right;
  height: 1em;
  width: 1em;
  fill: rgb(118, 118, 118);
  margin-right: 5px;
  margin-top: -30px;
  cursor: pointer;
}
.rev-modal-container {
  position: absolute;
  top: 10%;
  left: 25%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.rev-modal {
  z-index: 9999;
  height: 650px;
}
.rev-closeBtn {
  position: absolute;
  top: 12%;
  left: 26%;
  padding: 22px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}