body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.numOfReviews {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
  margin-right: 15px;
}
hr {
  border: 0;
  border-top: 1px solid rgb(212, 212, 212);
  margin: 1em 0;
}

/**********STAR COMPONENT**********/
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  letter-spacing: 6px;
}
.stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color:lightgray;
  letter-spacing: 6px;
}
.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: rgb(41, 126, 113);
  overflow: hidden;
  letter-spacing: 6px;
}

.stars-0:after { width: 0%; }
.stars-1:after { width: 7%; }
.stars-2:after { width: 20%; }
.stars-3:after { width: 27%; }
.stars-4:after { width: 40%; }
.stars-5:after { width: 47%; }
.stars-6:after { width: 60%; }
.stars-7:after { width: 67%; }
.stars-8:after { width: 80%; }
.stars-9:after { width: 87%; }
.stars-10:after { width: 100%;}


/**********RATING COMPONENT**********/
.container {
  display: flex;
  position: relative;
  width: auto;
}
.left-container {
  display: flex;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #484848;
  width: 100%;
}
.left-text-container {
  display: flex;
  flex-direction: column;
}
.left-star-container {
  display: flex;
  flex-direction: column;
}
.left-rating {
  margin-bottom: 15px;
}
.left-stars {
  left: 50px;
  margin-bottom: 10px;
}
.right-container {
  display: flex;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #484848;
  width: 100%;
}
.right-text-container {
  display: flex;
  flex-direction: column;
}
.right-star-container {
  display: flex;
  flex-direction: column;
}
.right-rating {
  margin-bottom: 15px;
  /* float: left; */
}
.right-stars {
  left: 50px;
  /* float: right; */
  margin-bottom: 10px;
}

/**********SEARCH COMPONENT**********/
.input-icon{
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em);
  color: grey;
}
input{
  padding-left: 17px;
  width: 150px;
  text-indent: 15px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightgrey;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}
input:focus {
  border: 1px solid rgb(41, 126, 113);
}
.input-wrapper{
  position: relative;
  float: left;
}

/**********SORT COMPONENT**********/
.sort { 
  position: relative;
  float: right;
  width: 175px;
  height: 33px;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
 }
.sort:focus {
  border: 1px solid rgb(41, 126, 113);
}
.sort option {
  width: 175px;
  height: 33px;
}

/**********REVIEWS COMPONENT**********/
.avatar {
  border-radius: 100px;
  display: inline-block;
  margin-right: 25px; 
}
.profileInfo {
  display: inline-block;
}
.username {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #484848 !important;
}
.date {
  font-size: 14px;
  color: #484848 !important;
}
.flag {
  float:right;
  height: 15px;
  margin-right: 5px;
}
.review {
  font-size: 15px;
  color: #484848 !important;
}
.noReviews {
  font-size: 15px;
  margin-left: 50px;
}
.someReviews {
  font-size: 15px;
  color: #484848 !important;
}
.backToReviews {
  font-size: 15px;
  float: right;
  color: rgb(41, 126, 113);
  cursor: pointer;
}
.readMore {
  font-size: 15px;
  color: rgb(41, 126, 113);
  cursor: pointer;
}
.pageNum {
  font-size: 15px;
  color: rgb(41, 126, 113) !important;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.pageNum:hover {
  text-decoration: underline;
}
.navPage {
  font-size: 15px;
  color: rgb(41, 126, 113) !important;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(41, 126, 113);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-radius: 15px;
  cursor: pointer;
}