body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.numOfReviews {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
  margin-right: 15px;
}

hr {
  border: 0;
  border-top: 1px solid rgb(212, 212, 212);
  margin: 1em 0;
}

/**********STAR COMPONENT**********/
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  letter-spacing: 6px;
}

.stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color:lightgray;
  letter-spacing: 6px;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: rgb(41, 126, 113);
  overflow: hidden;
  letter-spacing: 6px;
}

.stars-0:after { width: 0%; }
.stars-1:after { width: 7%; }
.stars-2:after { width: 20%; }
.stars-3:after { width: 27%; }
.stars-4:after { width: 40%; }
.stars-5:after { width: 47%; }
.stars-6:after { width: 60%; }
.stars-7:after { width: 67%; }
.stars-8:after { width: 80%; }
.stars-9:after { width: 87%; }
.stars-10:after { width: 100%;}


/**********RATING COMPONENT**********/
.container {
  position: relative;
  width: 100%;
}

.left-ratings {
  position: relative;
  float: left;
  font-size: 16px;
  color: #484848;
}
.right-ratings {
  position: relative;
  float: right;
  font-size: 16px;
  color: #484848;
}

.right-rating {
  position: relative;
  right: 100px;
}

.center-stars {
  position: relative;
  min-width: 100px;
  left: 100px;
}

.right-stars {
  position: relative;
  min-width: 100px;
}

/**********SEARCH COMPONENT**********/
/* @import url("http://download.seaicons.com/icons/icons8/ios7/512/Very-Basic-Search-icon.png"); */
.search { 
  position: relative;
  float: left;
 }
.search input { 
  width: 150px;
  text-indent: 30px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid lightgrey;
  outline-color: rgb(41, 126, 113);
  outline-width: 2px;
  -moz-outline-radius: 5px;
  padding: 8px;
  border-radius: 5px;
  /* background: url("http://download.seaicons.com/icons/icons8/ios7/512/Very-Basic-Search-icon.png") */
}
/* .search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
} */
.glass {
  height: 15px;
}

/**********SORT COMPONENT**********/
.sort { 
  position: relative;
  float: right;
  width: 175px;
  height: 33px;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  outline-color: rgb(41, 126, 113);
  outline-width: 1px;
 }
.sort option {
  width: 175px;
  height: 33px;
}

/**********REVIEWS COMPONENT**********/
.avatar {
  border-radius: 100px;
  display: inline-block;
  margin-right: 25px; 
}

.profileInfo {
  display: inline-block;
}

.username {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #484848 !important;
}

.date {
  font-size: 14px;
  color: #484848 !important;
}

.flag {
  float:right;
  height: 15px;
  margin-right: 5px;
}

.review {
  font-size: 15px;
  color: #484848 !important;
}

.noReviews {
  font-size: 15px;
  margin-left: 50px;
}
.someReviews {
  font-size: 15px;
  color: #484848 !important;
}
.backToReviews {
  font-size: 15px;
  float: right;
  color: rgb(41, 126, 113);
}
.readMore {
  font-size: 15px;
  color: rgb(41, 126, 113);
}