
.phomodalSS {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);

}


.phobtnShare {
    position: absolute;
    top: 9%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent;
    color : rgba(0,0,0,0);
    font-size: 16px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.phobtnSave {
  position: absolute;
  top: 6.8%;
  left: 32.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: transparent;
  color : rgba(0,0,0,0);
  font-size: 17px;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}


.phopicShare img {
  top: 5%;
  left:38%;
  height:90%;
  width: 25%;
  position: fixed;
}

.phopicSave img {
  top:2%;
  left:30%;
  height:97%;
  width: 39%;
  position: fixed;
}




.phobtnMid {
  position: absolute;
  top: 14%;
  left: 36%;
  background-color: white;
  color: #484848;
  font-size: 14px;
  font-weight: 440;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.phobtnTop {
  position: absolute;
  top: 14%;
  left: 69%;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.phobtnBot {
  position: absolute;
  top: 58%;
  left: 62%;
  background-color: white;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

i {
  margin-right: 10px;
}