/* MOST OUTER CONTAINER */

  /* Container 1*/


.phoinnercon1 {
  display: flex
}

.phopic {


  width: 63px;
 height: 63px;
  
  
}

.phopicCon {
  text-align: center;
  padding-top: 15px;
  
}
.phopic img {
  
  width:60%;
  height: 55%;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  margin-right: auto;
  margin-left: auto;
  
 
  
  
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

li {
  float: left;
}



li a {
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, Helvetic Neue, sans-serif;
  font-weight: 440;
  display: block;
  color: 	#484848;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 46px;
}

li a:hover {
  color: #3d3b3b;
  border-bottom: 2px solid
}

.phocontainer1 {
  display:flex;
  justify-content: space-between ;
  
  font-size: 14px;
  /* need to change once we add in side picture */
  /* border-bottom: 5px black */
}

.phosearch {
  padding: 10px;
  margin-right: 10px;
  outline: none;
}

/* outline: none, text-indent: 16px*/

.phosearch input {
  font-family: Circular , -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  background-color: transparent;
  font-weight: 600;
  padding: 0px 50px 0px 0px;
  color: black;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height:50px;
  width: 458px;
  text-indent: 50px;
  outline:none;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-indent: 0px;
}

::-webkit-input-placeholder {
  padding-left: 50px;
}

.input-icon{
 
  position: absolute;
  left: 15px;
  top: calc(55% - 0.5em); 
}
input{
  padding-left: 17px;
}
.phoinput-wrapper{
  position: relative;
}


/* Modal */










