.phoclose {
  display: block;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;

}

.phoclose:before, .phoclose:after {
  position: absolute;
  left: 20.5px;
  top: -27px;
  content: ' ';
  height: 38px;
  width: 1.5px;
  background-color: white;
}
.phoclose:before {
  transform: rotate(45deg);
}
.phoclose:after {
  transform: rotate(-45deg);
}
