.phocarousel {
  z-index: 9999; 
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background: rgb(38,38,38)
  
}

.phomodal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  
}

.phoimage {
position: absolute;
top: 11.5%;
left: 25%
}

.pholeft {
  position: absolute;
bottom: 47%;
right: 90.8%;

}

.pholeft img {
  height: 13.3%;
  width: 50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

}
.phoright {
position: absolute;
bottom: 47%;
left: 95.8%;

}

.phoright img {
  height: 13.3%;
  width: 97.4%;

}


