/* APP */

.phooutside {
  
  display: flex;
 
}
.phooutside:hover img {
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}

/*bigger*/
.phobigger {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  width: auto;
  height: 292px;
}

.phoinnercontainer {
  width:716px;
}

.phobigger img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.phobigger:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
}

.phosmaller {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  width: auto;
  height: 145px;
}

.phosmaller img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.phosmaller:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
}

.phocontainer {
  display: flex;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
