/* APP */

.phooutside {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
 
}

.phooutside:hover img {
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}

.phocontainer {
  display: flex;
  max-width:100%;
 
}




/*bigger*/
.phobigger {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  width: 50%;
  height: 292px;
}

.phosmallers{
  width:50%;
  display:flex;
}

.phoinnercontainer {
  width: 50%;
 position: relative;
}

.phobigger img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  
  
}
.phobigger:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
   
}

.phosmaller {
  
  border: 1px solid #333;
  overflow: hidden;
  width: auto;
  height: 145px;
}

.phosmaller img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.phosmaller:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
}


