/* Buttons */

.phomodalSS {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);

}


.phobtnShare {
  position: absolute;
  top: 9%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: transparent;
  color : rgba(0,0,0,0);
  font-size: 16px;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.phobtnSave {
position: absolute;
top: 6.8%;
left: 32.5%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background: transparent;
color : rgba(0,0,0,0);
font-size: 17px;
padding: 6px 6px;
border: none;
cursor: pointer;
border-radius: 5px;
outline: none;
}


.phopicShare img {
top: 5%;
left:38%;
height:90%;
width: 25%;
position: fixed;
}

.phopicSave img {
top:2%;
left:30%;
height:97%;
width: 39%;
position: fixed;
}




.phobtnMid {
z-index: 1;
position: absolute;
top: 8%;
right: 9.5%;
background-color: white;
color: #484848;
font-size: 14px;
font-weight: 440;
padding: 10px 16px;
border: none;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.phobtnTop {
z-index: 1;
position: absolute;
top: 8%;
right: 1.5%;
color: #484848;
font-size: 14px;
font-weight: 400;
padding: 10px 16px;
border: none;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.phobtnBot {
z-index:1;
position: absolute;
right:1.5%;
bottom: 8%;
background-color: white;
color: #484848;
font-size: 14px;
font-weight: 400;
padding: 10px 15px;
border: none;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

i {
margin-right: 10px;
}



/* Header */

.phoinnercon1 {
  display: flex
}

.phopic {


  width: 63px;
 height: 63px;
  
  
}

.phopicCon {
  text-align: center;
  padding-top: 15px;
  
}
.phopic img {
  
  width:60%;
  height: 55%;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  margin-right: auto;
  margin-left: auto;
  
 
  
  
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

li {
  float: left;
}



li a {
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, Helvetic Neue, sans-serif;
  font-weight: 440;
  display: block;
  color: 	#484848;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 46px;
}

li a:hover {
  color: #3d3b3b;
  border-bottom: 2px solid
}

.phocontainer1 {
  display:flex;
  justify-content: space-between ;
  
  font-size: 14px;
  /* need to change once we add in side picture */
  /* border-bottom: 5px black */
}

.phosearch {
  padding: 10px;
  margin-right: 10px;
  outline: none;
}

/* outline: none, text-indent: 16px*/

.phosearch input {
  font-family: Circular , -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  background-color: transparent;
  font-weight: 600;
  padding: 0px 50px 0px 0px;
  color: black;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height:50px;
  width: 458px;
  text-indent: 50px;
  outline:none;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-indent: 0px;
}

::-webkit-input-placeholder {
  padding-left: 50px;
}

.input-icon{
 
  position: absolute;
  left: 15px;
  top: calc(55% - 0.5em); 
}
input{
  padding-left: 17px;
}
.phoinput-wrapper{
  position: relative;
}

/* Main carousel */
.phocarousel {
  z-index: 2;
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background: rgb(38,38,38)
  
}

.phomodalcon {
  z-index: 2;
  width: 100%; 
  height: 100%; 
}

.phoimage  {
 width: 700px;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
 
}

.phomodal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  
}



.pholeft {
  position: absolute;
bottom: 47%;
right: 90.8%;

}

.pholeft img {
  height: 13.3%;
  width: 50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

}
.phoright {
position: absolute;
bottom: 47%;
left: 95.8%;

}

.phoright img {
  height: 13.3%;
  width: 97.4%;

}



/* Modal X */
.phoclose {
  display: block;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;

}

.phoclose:before, .phoclose:after {
  position: absolute;
  right: 1%;
  bottom: 55%;
  content: ' ';
  height: 38px;
  width: 1.5px;
  background-color: white;
}
.phoclose:before {
  transform: rotate(45deg);
}
.phoclose:after {
  transform: rotate(-45deg);
}






/* 5 PICTURES */


.phooutside {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
 
}

.phooutside:hover img {
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}

.phocontainer {
  display: flex;
  max-width:100%;
 
}


.phobigger {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  width: 50%;
  height: 292px;
}

.phosmallers{
  width:50%;
  display:flex;
}

.phoinnercontainer {
  width: 50%;
 position: relative;
}

.phobigger img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  
  
}
.phobigger:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
   
}

.phosmaller {
  
  border: 1px solid #333;
  overflow: hidden;
  width: auto;
  height: 145px;
}

.phosmaller img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.phosmaller:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(100%);
   filter: brightness(100%);
}




/* SLIDER */

.phoslider {
  color: white;
  font-family: Circular , -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 200;
}