
body {
  font-family: 'Montserrat', sans-serif;
}

.booking-row {
  display: flex;
  min-height: 35px;
}

.cal-overflow {
  position: absolute;
  width: 300px;
  height: 252px;
  overflow: hidden;
}

.animation-enabled {
  transition: transform 0.25s;
}

.container {
  width: 300px;
  height: 252px;
  overflow: visible;
  z-index: 0;
  background: transparent;
}

.translateLeft {
  transform: translate(300px, 0px);
}

.translateRight {
  transform: translate(-300px, 0px);
}

.calendar-arrow {
  cursor: pointer !important;
  user-select: none !important;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(117, 117, 117) !important;
  line-height: 0.78 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(228, 231, 231) !important;
  border-image: initial !important;
  border-radius: 3px !important;
  padding: 6px 9px !important;
}

.calendar-arrow-left {
  margin-left: 0;
  margin-right: auto;
}

.calendar-arrow-right {
  margin-right: 0;
  margin-left: auto;
}

.calendar-container {
  display: flex;
  max-width: 800px;
}

.calendar-text {
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.calendar-border {
  border: 1px solid #EBEBEB;
}

.calendar-box {
  display: inline-block;
  margin: 1%;
  padding: 2%;
  width: 298px;
  height: auto;
}

.calendar-box-hidden {
  display: none;
}

.calendar-box-pop {
  z-index: 1;
}

.booking-date {
  color: #484848;
  padding: 3%;
  min-width: 95px;
}

.calendar-row {
  display: flex;
}

.calendar-items, .calendar-items-left, .calendar-items-right {
  display: inline;
  position: absolute;
  z-index: -1;
  background-color: white;
}

.calendar-items {
  z-index: 1;
  height: 252px;
}

.calendar-items-right {
  left: 315px;
}

.calendar-items-left{
  right: 315px;
}

.dow-row {
  display: flex;
  height: auto;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;

}

.calendar-item-main, .calendar-item-sidebar, .empty-calendar-item, .calendar-header-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-item-main {
  color: rgb(0, 132, 137);
  background-color: rgb(237, 246, 246);
  font-size: 16px;
  font-weight: 700;
  min-height: 40px;
  min-width: 40px;
  border: 1px solid rgb(255, 255, 255);
}

.calendar-item-selected-main {
  color: white;
  background-color: #00858B;
}


.calendar-item-main:hover {
  background-color: #C7F0EB;
}

.calendar-item-selected-main:hover {
  background-color: #00858B;
}


.calendar-item-sidebar {
  color: #3d3b3b;
  font-size: 16px;
  font-weight: 700;
  min-height: 40px;
  min-width: 40px;
  border: 1px solid #DDDDDD;
}

.calendar-item-selected-sidebar {
  background-color: #00AC9A;
  color: white;
}

.calendar-item-taken-main {
  color: rgb(216, 216, 216);
  background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 3px,
    #ebebeb 3px,
    #ebebeb 4px
  );
}

.calendar-item-taken-sidebar {
  color: rgb(216, 216, 216);
  text-decoration: line-through;
}

.calendar-item-highlighted-sidebar {
  background-color: #50E8DC;
}

.calendar-item-highlighted-main {
  color: white;
  background-color: #00858B;
}

.empty-calendar-item {
  min-height: 42px;
  min-width: 42px;
}

.calendar-header-item {
  font-size: 12px;
  font-weight: bold;
  min-width: 42px;
  color: gray;
  align-items: flex-end;
}

.dropdown-items {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
  border-radius: 3px !important;
  max-width: 298px;
  position: absolute;
  background-color: white;
}

.dropdown-item {
  display: flex;
}

.dropdown-text {
  padding-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: auto;
}

.dropdown-tracker {
  padding-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  margin-left: auto;
  display: flex;
}

hr {
  border-width: 1px;
  color: #EBEBEB;
  margin-top: 16px;
  margin-bottom: 16px;
}
