.simListings {
    font-size: 25px;
    font-weight: 800;
    font-family: Roboto;
    color: #484848;
}

.houseImg {
    border-radius: 8px;
    max-width: 27%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 1%;
}

.roomDes {
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    color: rgb(169, 47, 67);
    padding-bottom: 1%;
}

div.namePlace {
    width:250px;
    height: auto;
}

.namePlace {
    font-size: 16px;
    font-weight: 800;
    font-family: Roboto;
    color: #484848;
    word-break: break-word;
}

.costPlace {
    font-size: 12px;
    font-weight: 300;
    font-family: Roboto;
    color: #484848;
    padding-bottom: 1%;
}

.starsContainer {
    position: relative;
    display: inline-block;
    font-size: 9px;
  }

  .starsContainer:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #008489;
  }

  .ratingCount {
    font-size: 11px;
    font-weight: 400;
    font-family: Roboto;
    color: #484848;
    padding-left: 2px;
  }